<footer class="footer">
    <div class="footer__container">
        <section>
            <h2 class="footer__title">Sobre</h2>
            <p class="footer__about-text">Lorem ipsum dolor sit amet. Ad obcaecati eveniet ut sapiente rerum vel soluta dolore ut placeat consequatur. Qui explicabo provident et vero velit est cumque tempora sit voluptatem quas. Ab galisum sapiente id commodi enim est quasi cumque sit nemo consequatur eum consectetur esse? Ut nisi voluptas aut autem nemo hic quos fugiat? Ea quisquam explicabo id harum rerum et libero repudiandae. Et amet earum et optio nesciunt hic animi beatae et laboriosam molestiae. In quod quisquam qui sint reiciendis sed deleniti earum et reprehenderit enim nam consequatur consequatur! Ea quasi quos et autem mollitia et rerum voluptas. Et temporibus atque id neque maiores sit quasi repellat hic explicabo nihil ad deleniti sunt in maxime quisquam! </p>
        </section>
        <address>
            <h2 class="footer__title">Contato</h2>
            <ul>
                <li><i class="fa-solid fa-envelope"></i> email@email.com</li>
                <li><i class="fa-solid fa-phone"></i> 9498983-9954</li>
                <li><i class="fa-brands fa-whatsapp"></i> 994955-9696</li>
            </ul>
        </address>
    </div>
    <section class="footer__copyright">
        &copy; Todos os direitos reservados
    </section>
</footer>